header {
        padding: 10px;
        text-align: center;
        background: #77a3d4;
        color: #111111;
        font-size: 100%;
        font-family: 'Courier New', Courier, monospace;
        display:grid;
        }

p{
        font-size: 140%;
        font-weight: bolder;
        text-align: center;
        color:rgb(27, 29, 29);
        background-color: rgb(179, 223, 226);
        font-family: 'Courier New', Courier, monospace;
        
}

li{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: normal;
        font-weight: 450;
        padding: 0.6%;
}

footer{
        text-align: center;
        color: rgb(22, 22, 22);
        font-style: italic;
        background-color: beige;
        position: relative;
}


